body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: hsl(0, 0%, 96%);
}

/**
    Custom Component
**/
.has-card-round {
    border-radius: 3px;
}

.button, .file-cta, .file-name, .input, 
.pagination-ellipsis, .pagination-link, 
.pagination-next, .pagination-previous, 
.select select, .textarea {
    transition: all .5s;
}

.button.is-hovered, .button:hover,
.box.button.is-hovered, .box:hover {
    box-shadow: 0 14px 26px -12px rgba(0,35,255,0.42),0 4px 23px 0px rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,35,255,0.2) !important;
    opacity: 0.9 0.5;
    transition: all .5s;
}

/**
    Auth
**/
.auth-wrapper {
    height: 100%;
    min-height: 100vh;
    background: #fff;
    transition: all .3s;
}

.auth-logo {
    margin: .5rem;
}

.auth-form-wrapper {
    padding: 3rem 1.5rem;
}

.auth-form-nav {
    margin: 2rem 0 2rem 0;
}

.form-wrapper {
    padding: 1rem;
}

.submit-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/**
    Main Navbar
**/
.main-navbar {
    position: fixed;
    top: 0;
    height: 80px;
    width: calc(100% - 80px);
    margin-left: 80px;
    background-color: #fff;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.02);
    z-index: 9;
    transition: all .3s;
}

.has-nav-spaced {
    padding: .75rem 1.5rem !important;
}

.main-navbar .navbar-brand {
    width: auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-item span :hover {
    color: #0023FF !important;
}

/**
    Sidebar
**/
.main-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    background-color: #fff;
    box-shadow: 2px 0px 2px 0px rgba(0,0,0,0.02);
    border-right: 1px solid #ededed;
    z-index: 10;
    transition: all .3s;
}

.main-sidebar .sidebar-brand {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-sidebar .sidebar-brand img {
    width: 32px;
    height: 32px;
}

.main-sidebar .sidebar-inner {
    height: 100%;
    width: 100%;
    position: relative;
}

.main-sidebar .sidebar-inner .icon-menu li {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-menu .is-active {
    border-right: 2px solid #0023FF;
}
.main-sidebar .sidebar-inner .icon-menu li a {
    display: block;
    position: relative;
    max-height: 20px;
    transform: rotate(0);
    opacity: 1;
    transition: all .3s;
}

.main-sidebar .sidebar-inner .icon-menu li a span :hover {
    color: #0023FF !important;
}

/**
    Main Wrapper
**/
.main-wrapper {
    height: calc(100% -80px);
    min-height: 100vh;
    width: calc(100% - 80px);
    margin: 80px 0 0 80px;
    position: relative;
    background: hsl(0, 0%, 96%);
    transition: all .3s;
}

.main-header {
    margin: 0 0 2rem 0;
}

.box-wrapper {
    padding: 1rem 2rem;
}

.table-wrapper {
    overflow-x: auto;   
}

/**
    Mobile
**/
@media (max-width: 768px) {
    .auth-logo {
        margin: 0;
    }   

    .auth-form-wrapper {
        padding: 0 1.5rem;
    }
}